.fonctionnement{
    ol{ 
    list-style: none;
    counter-reset: item;
}
    li{
        background-color: $colorbg;
        padding: 15px 25px 15px 15px;
        border-radius:15px 15px;
        width: 80%;
        text-align: start;
        counter-increment: item;
        margin-bottom: 5px;
    }
    li:before {
        margin-right: 10px;
        content: counter(item);
        background: $colorprimary;
        border-radius: 100%;
        color: white;
        width: 1.2em;
        text-align: center;
        display: inline-block;
        position: relative;
        left: -24px;
      }
    i {
        margin-right: 54px;
        margin-left: 32px;
    }
}

  