.footer {
  background-color: $colorfooter;
  color: $colorbg;

  &__logo {
    color: $colorbg;
    font-family: $fonttitle;
    margin: 0px;
    padding: 19px 15px 27px 21px;
    font-size: 1.2rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin :0px;
  }

  &__listElt {
    margin: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
  }

  a {
    color: white;
  }
}
