.menu {
  border: purple solid 3px;
  border-radius: 15px 15px;

  &__container {
    display: grid;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border: red solid 3px;
    border-radius: 15px 15px 15px 15px;
  }
}




