.menu {
  border-radius: 35px 35px 0px 0px;

  &__container {
    display: grid;
  }
  &__section {
    display: flex;
    flex-direction: column;
  }
  &__item {
    border-radius: 15px 15px 15px 15px;
  }
}

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}
/*
   ______        ______  
  |  _ \ \      / /  _ \ 
  | |_) \ \ /\ / /| | | |
  |  _ < \ V  V / | |_| |
  |_| \_\ \_/\_/  |____/ 
                         
*/
.restaurants {
  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
}
.restaurants h2 {
  @media screen and (min-width: 600px) {
    grid-column: 1/-1;
  }
}
