.header {
  display: flex;
  justify-content: center;
  &__arrow {
    position: absolute;
    left: 16px;
    top: 30px;
    transition: all 450ms ease-in;
    &:hover {
      transform: scale(1.15);
      &::after {
        transform: scale(1.15);
      }
    }
  }
}
