.intro__btn{
    border: none;
    border-radius: 27px 27px 27px 27px;
    background: linear-gradient(to top left,$colorprimary,#ed73da 81%);
    color: white;
    font-size: 14px;
    padding: 11px;
    margin: 0px 83px 0px 83px;
    cursor: pointer;
    max-width: 230px;
}

.menu__btn{
    border: none;
    border-radius: 27px 27px 27px 27px;
    background: linear-gradient(to top left,$colorprimary,#ed73da 81%);
    color: white;
    font-size: 14px;
    padding: 11px;
    margin: 0px 83px 0px 83px;
    cursor: pointer;
    max-width: 230px;
}