.restaurants{
  background-color: $colorbg;
  padding-bottom: 45px;
}
  
  .restaurant {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    @include box-shadows;
    
    &__picture {
      height: 12rem;
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0px 0px;
    }

    &__title{
      padding-left: 5px;
      margin:8px;
    }

    &__text{
      padding-left: 5px;
      padding-bottom: 12px;
      margin: 8px;
    }
  }

  h1, h2, h3{
    font-family: $fonttitle;
    font-weight: normal;
  }

  p{
    font-family: $fonttext;
  }