.intro {
  background-color: $colorbg;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  align-items: center;

  &__title {
    text-align: center;
    margin-top: 30px;
  }
  &__text {
    text-align: center;
    padding: 0px 20px 10px 20px;
    text-align: center;
  }
}
