.menu {
  background-color: $colorbg;
  margin-top: -50px;
  position: relative;

  &__item {
    display: flex;
    margin: 5px;
    background-color: white;
    @include box-shadows;
  }
  &__section {
    padding-bottom: 20px;
  }
  &__picture {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }
  &__price {
    display: flex;
    justify-content: end;
    align-self: center;
    flex-grow: 1;
    margin-right: 6px;
  }

  &__check {
    background-color: #99e2d0;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    margin-right: -69px;
  }

  &__btn {
    margin: 0 auto;
  }

  a {
    display: flex;
    padding-bottom: 50px;
    padding-top: 20px;
  }

  h1 {
    padding-top: 40px;
    padding-left: 20px;
  }
  h2 {
    font-family: $fonttext;
    border-bottom: solid 3px $colortertiary;
    width: 10%;
    font-size: 1.1rem;
    margin-left: 10px;
  }
  h3 {
    margin: 0;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  p {
    margin: 0;
    padding-left: 15px;
    padding-bottom: 8px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  span {
    padding-right: 8px;
  }
}
