.restaurants {
    border: green solid 2px;
    display: flex;
    flex-direction: column;
    background-color: $colorbg;
    grid-gap: 10px;
  }
  
  .restaurant {
    background-color: white;
    border: blue solid 2px;
    border-radius: 15px 15px 15px 15px;
    @include box-shadows
  }