$colorprimary: #9356dc;
$colorsecondary: #ff79da;
$colortertiary: #99e2d0;
$colorbg: #f6f6f6;
$colorfooter: #353535;


$fonttitle: "Shrikhand";

$fonttext: "Roboto";

$breakpoints: (
    "phone-screen": 767px,
    "tablette-screen": 768px,
    "big-tablette-screen": 992px,
    "laptop-MDPI-screen": 1025px,
    "laptop-HIDPI-screen": 1281px,
    "desktop-screen": 1601px,)
