$colorprimary:#9356DC;
$colorsecondary:#FF79DA;
$colortertiary: #99E2D0;
$colorbg:#F6F6F6;
$colorfooter:#353535;

$breakpoints: (
  'mobile': (min-width: 599px),
  'medium': (min-width: 1000px),
  'large': (min-width: 1500px),
);